<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <!-- 渲染普通数组 -->
        <!-- <p v-for="item in list"> 每一项：{{item}} 索引:{{index}}</p> -->
        <!-- <p v-for="(item,index) in list"> 每一项：{{item}} 索引:{{index}}</p> -->
        <!-- 渲染对象数组 -->
        <p v-for="(user,i) in users"> 用户ID：{{user.id}} 用户名:{{user.name}}  索引 {{i}} </p>

    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                list: [1, 2, 3, 4, 5, 6],
                users: [
                    {id:1,name:"zs1"},
                    {id:2,name:"zs2"},
                    {id:3,name:"zs3"},
                    {id:4,name:"zs4"}
                ]
            },
            methods: {}
        })
    </script>
</body>

</html>