<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name">
                </label>

                <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add()">
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td> {{item.id}} </td>
                    <td> {{item.name}} </td>
                    <td> {{item.ctime}} </td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                id: '',
                name: '',
                list: [{
                        id: 1,
                        name: '胖虎',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: '大菊花',
                        ctime: new Date()
                    }
                ]

            },
            methods: {
                add() {
                    // 1.获取到id和name，直接从data上面获取
                    // 2.组织出一个对象
                    // 3.把这个对象，调用数组的相关方法，添加到当前的data上的list中
                    // 4.注意：在Vue中已经实现了数据的双向绑定，每当我们修改了data中的数据，Vue会默认监听到的数据的改动，自动把最新的数据，应用到页面上
                    // 5.当我们意识到上面的第四步的时候，就证明已经入门Vue了，我们更多的是在进行Vue中model数据的操作，同事，在操作model数据的时候，指定的业务逻辑操作

                    var car = {
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    }
                    this.list.push(car)
                    this.id = this.name = ''

                },
                del(id){        //根据id删除数据
                    // 1.如何根据id，找到要删除这一项的索引
                    // 2.如果找到索引了，直接调用数组的splice方法

                    this.list.some((item,i)=>{
                        if(item.id == id){
                            this.list.splice(i,1)
                            return true;
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>